.Bcg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,rgb(0, 204, 255), rgb(73, 255, 1));
    margin: 0;
    padding: 0;
}

.loginForm {
    margin: auto;
    width: 50vw;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.336);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panelPrac {
    width: auto;
    height: auto;
    background-color: #00ff80;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 10px;
}

.dane {
    margin: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 25px;
}

.loginInput {
    margin: auto;
    width: auto;
    height: auto;
    padding: 2%;
    font-size: 1.2rem;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.699);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.loginInput::placeholder {
    color: black;
}

.loginInput:focus {
    outline: 0;
    outline-offset: -2px;
    background-color: #ffffff56;
    color: black;
    border-bottom: 2px solid rgb(0, 102, 255);
}

.loginInput:hover {
    background-color: rgba(255, 255, 255, 0.438);
    border-bottom: 2px solid white;
}

.loginButton {
    background-color: rgb(60, 255, 0);
    font-size: 3rem;
    padding: 1%;
    border-radius: 15px;
}

.loginButton:hover {
    background-color: rgb(113, 255, 70);
}