.contact {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 85vh;
}

.superiors {
    width: 70vw;
    height: 50vh;
    background-color: #D9D9D9;
    margin: 0 auto;
    overflow: auto;
}

.user {
    background-color: #a8a8a8;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2rem;
    cursor: pointer;
}

.user:first-child {
    border: 0;
}

.user:last-child {
    border: 0;
}

.user:nth-child(2) {
    border-top: 2px solid black;
}

.name {
    text-align: center;
}

.info {
    background-color: #7c7c7c;
    font-size: 1.5rem;
}

.employees {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    background-color: #a8a8a8;
}

.employees select {
    width: 30vw;
    height: 6vh;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
}