.adminButtonsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.adminButton {
    height: 10vh;
    background-color: orange;
    border: 2px solid rgb(197, 197, 197);
    border-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.adminButton:first-child {
    border-left: 0;
}

.adminButton:last-child {
    border-right: 0;
}

.adminButton:hover {
    background-color: rgb(209, 136, 0);
}